@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 5rem !important;
}

.bg-secondary-light {
    background-color: rgb(201, 206, 212) !important;
}

.form-control:focus {
    box-shadow:none !important;
 }

.position-left-corner{
    position: fixed;
    bottom: 5%;
    left: 5%;
    cursor: pointer;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}


@media screen and (max-width: 1040px) {
    #formPesquisa {
        width: 40% !important;
    }
    #info-clima {
        width: 75% !important;
    }
}

@media screen and (max-width: 720px) {
    #formPesquisa {
        width: 75% !important;
    }
    #info-clima {
        width: 100% !important;
    }
    .position-left-corner {
        bottom: 1% ;
        left: 1% ;
    }
}

@media screen and (max-width: 345px) {
    #formPesquisa {
        width: 90% !important;
    }
    #info-clima {
        width: 100% !important;
    }
    #temperatura {
        font-size: 4rem !important;
    }
    .position-left-corner {
        bottom: 1% ;
        left: 1% ;
    }
}


